.form {
  display: flex;
  justify-content: space-between;

  margin: 2.75rem 0 2.5rem 0;
}

.input {
  height: 2.75rem;
  width: 28.18rem;

  background-color: #FFFFFF;
  border-radius: 0.75rem;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  
  padding-left: 0.88rem;
}

.input::placeholder {
  color: #9CA3AF;
}

.input:hover {
  border-color: #B9C2D0;
}

.input:focus {
  outline: none;
  border-color: #CA3884;
}

.input:focus::placeholder {
  color: #080B12;
}

.button {
  width: 10rem;
  border-radius: 12px;
  background-color: #CA3884;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.button:hover {
  background-color: #A52C6B;
  cursor: pointer;
}